<div class="container">
    <div class="row marginRow">
        <mat-label class="label">
            <h2>
                Pesquisa de documentos
            </h2>
        </mat-label>
    </div>
    <div class="row marginRow">
        <mat-button-toggle-group name="tools">
            <mat-button-toggle class="toggle" value='code' (change)="getByCode()">Código</mat-button-toggle>
            <mat-button-toggle class="toggle" value='title'>Título</mat-button-toggle>
            <mat-button-toggle class="toggle" value='process'>Processo</mat-button-toggle>
            <mat-button-toggle class="toggle" value='category'>Categoria</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="row">
        <form  [formGroup]="formGroup">
            <mat-form-field appearance="outline" color="primary">
                <mat-label class="label">Pesquisa</mat-label>
                <input matInput required>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
</div>
<div class="mat-app-background basic-container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="process">
                <th mat-header-cell *matHeaderCellDef> Processo </th>
                <td mat-cell *matCellDef="let element"> {{element.process}} </td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
            <ng-container matColumnDef="file">
                <th mat-header-cell *matHeaderCellDef>File</th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button>
                        <a  class="link" [href]="fileUrl" download="file.txt">
                            <mat-icon class="link">cloud_download</mat-icon>    
                        </a>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button>
                        <mat-icon class="space" color="primary">create</mat-icon>    
                        <mat-icon color="warn">delete_forever</mat-icon>    
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>




