<div class="container">
    <div class="row marginRow">
        <mat-label class="label">
            <h2>
                Pesquisa de documentos
            </h2>
        </mat-label>
    </div>
    <div class="row">
        <form  [formGroup]="formGroup">
            <mat-form-field appearance="outline" color="primary">
                <mat-label class="label">Pesquisar</mat-label>
                    <input matInput formControlName="search" (keyup)="filter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
</div>
<div class="mat-app-background basic-container">
    <div class="mat-elevation-z8">
        <do-table [teste]="filterSubject"></do-table>
    </div>
</div>




