table {
    width: 100%;
}

.basic-container {
    padding: 30px;
}

.link {
    color: rgba($color: #000000, $alpha: 0.5);
}

.space {
    margin-right: 20px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}